.movie-card-container {
   margin-top: 10px;
}
.movie-card {
   position: relative;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
   margin: auto;
   width: 100%;
   img {
      display: block;
      height: 300px;
      margin: auto;
   }
   button {
      display: block;
      margin: auto;
   }
}
